.border {
    border: 1px solid black;
    height: 300px;
    margin-top: 300px;
    width: 300px;
    float: left;
    background-color: white;
    margin-left: 32px;
    border-radius: 10px; 
}

.right-container {
    margin-left: 100px;
    padding-left: 190px;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}

.body {
    margin-top: 16px;
    width: 100px;
    padding-right: 20px;
    margin-right: 20px;
    padding-left: 20px;
}